.home-container {
  margin: 3%;
  .action-bar {
    display: block;
    text-align: center;
    .action-header {
      font-size: 2rem;
      margin-bottom: 1rem;
      display: block;
    }
    .actions {
      display: inline-block;
      .action-btn {
        height: 2rem;
        width: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 4px;
        outline:none;
      }
      .active-btn {
        border: 2px solid black;
      }
    }
  } 
  .game-container {
    margin-left: calc(50% - 20rem);
    text-align: center;
    .loading-text {
      font-size: 28px;
    }
  }
}